<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        Username :
        <input type="text" name="userName" id=""><br><br>
        Password :
        <input type="password" name="password" id=""><br><br>
        Email :
        <input type="email" name="email" id=""><br><br>
        <input type="submit" value="Register">
    </form>
    <p>already have an account?</p>
    <a href="/login"><button>login</button></a>
</body>
</html>